<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h1>My Team</h1>
  <p>need to build this out based on who the user and who they have drafted. Need to read from DB</p>
  <table>
    <tr>
      <td>Round</td>
      <td>Player</td>
      <td>Position</td>
      <td>Team</td>
   </tr>
   <tr>
      <td>1</td>
      <td>Antonio Brown</td>
      <td>WR</td>
      <td>Pittsburgh</td>
   </tr>
   <tr>
      <td>2</td>
      <td>Aaron Rodgers</td>
      <td>QB</td>
      <td>Green Bay</td>
   </tr>
   <tr>
      <td>Round</td>
      <td>Player</td>
      <td>Position</td>
      <td>Team</td>
   </tr>
   <tr>
      <td>1</td>
      <td>Antonio Brown</td>
      <td>WR</td>
      <td>Pittsburgh</td>
   </tr>
   <tr>
      <td>2</td>
      <td>Aaron Rodgers</td>
      <td>QB</td>
      <td>Green Bay</td>
   </tr>
   <tr>
      <td>Round</td>
      <td>Player</td>
      <td>Position</td>
      <td>Team</td>
   </tr>
   <tr>
      <td>1</td>
      <td>Antonio Brown</td>
      <td>WR</td>
      <td>Pittsburgh</td>
   </tr>
   <tr>
      <td>2</td>
      <td>Aaron Rodgers</td>
      <td>QB</td>
      <td>Green Bay</td>
   </tr>
   <tr>
      <td>Round</td>
      <td>Player</td>
      <td>Position</td>
      <td>Team</td>
   </tr>
   <tr>
      <td>1</td>
      <td>Antonio Brown</td>
      <td>WR</td>
      <td>Pittsburgh</td>
   </tr>
   <tr>
      <td>2</td>
      <td>Aaron Rodgers</td>
      <td>QB</td>
      <td>Green Bay</td>
   </tr>
  </table>
</div>