<!DOCTYPE html>
<html>
<head>
  <title>old v1</title>
  <link rel="stylesheet" type="text/css" href="global.css">
  <!--<link rel="stylesheet" type="text/css" href="/FantasyFootball/css/sidenav.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/FantasyFootball/javascript/header.js"></script>
  <script src="/FantasyFootball/javascript/loginModal.js"></script>
</head>
<body>
<!--
   
      header

-->

<div class="header2">
  <div class="iconBox"><a href="http://www.hurricaneditka.net/FantasyFootball"><img src="ditka_header02.jpeg" height="62"></a>
  </div>
  <div class="header2-left">
    <div class="navlinks">
      <a href="#">Menu</a>
      <a href="#">Players</a>
      <a href="#">Draft Setup</a>
      <a href="#">Draft Board</a>
    </div>
  </div>
  <div class="header2-right">
    <div class="navlinks">
      <a href="">Sign in</a>
    </div>
  </div>
</div>

<br>
<br>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>




<p>need to make it responsive now<br>
adapt this: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp<br>

on mobile, ditka needs to go in the middle, menu on the left and profile on the right. 

should look at adapting the megu menu: https://www.w3schools.com/howto/howto_css_mega_menu.asp

</p>



<br>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p><p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>
<p>something somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething</p>





</body>
</html>

